.foto{
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(114, 115, 116, 0.5);
}

.close{
    color: red;
    position:absolute;
    font-size: 40px;
    top: -20px;
    right:18px;
}