 <div class="container mt-5">
    <div class="w-75 mx-auto" style="max-width: 400px;">
        <h2>Agendar una cita</h2>
        <div>
            <form>
                   <fieldset id="box1">
                    <h4 class="mb-4">Datos del paciente</h4>
                    <i>(Informacion personal)</i> <br>

                    <label>Paciente: </label>
                    <div class="form-group mr-2">
                         <select class="form-control">
                            <option value="">Gabriel Geronimo</option>
                         </select>
                        <div> 
                            <span class="text-danger">*El nombre es requerida*</span>
                        </div>
                    </div>
                    <label>Fecha: </label>
                    <div class="form-group">
                        <input  type="date" class="form-control">
                        <div> 
                            <span class="text-danger">*El apellido es requerido*</span>
                        </div>
                    </div>
                    <div class="form-group mt-3">
                        <button  class="btn btn-primario w-75 ml-2 mt-3" (click)="NextBox()" >Siguiente</button>
                    </div> 
                </fieldset>
                    <fieldset class="d-none" id="box2">
                        <i>(Finanzas)</i> <br>
                    <label>Numero de seguro: </label>
                    <div class="form-group my-2">
                        <input type="text" class="form-control">
                        <div> 
                            <span class="text-danger">*La fecha de nacimiento es requerida</span>
                        </div>
                    </div>
                    <label>Monto a pagar $: </label>
                    <div class="form-group">
                        <input type="number" class="form-control">
                        <div> 
                            <span class="text-danger">*La fecha de nacimiento es requerida</span>
                        </div>
                    </div>
                    <div class="form-group mt-3">
                        <button  class="btn btn-primario w-75 ml-2 mt-3" (click)="NextBox()" >Siguiente</button>
                    </div>
                </fieldset>
                  <fieldset class="d-none" id="box3">
                      <i>(Datos de la consulta)</i> <br>
                    <label>Motivo de la consulta: </label>
                    <div class="form-group">
                        <input type="text" class="form-control">
                        <div> 
                            <span class="text-danger">*La fecha de nacimiento es requerida</span>
                        </div>
                    </div>
                    <label>Diagnostico: </label>
                    <div class="form-group">
                        <input type="text" class="form-control">
                        <div> 
                            <span class="text-danger">*La fecha de nacimiento es requerida</span>
                        </div>
                    </div>
                    <label>Nota: </label>
                    <div class="form-group">
                         <textarea rows="3" cols="5" class="form-control"></textarea>
                        <div> 
                            <span class="text-danger">*La fecha de nacimiento es requerida</span>
                        </div>
                    </div>
                     <div class="form-group mt-3 text-center">
                        <button  class="btn btn-primario w-100 ml-2 mt-3 mb-2" (click)="NextBox()">Agendar cita</button> <br>
                        <a>Añadir una foto de prueba</a>
                    </div> 
                </fieldset>
            </form>
        </div>
    </div>
</div>
