<div class="container d-flex justify-content-center"  style="height: 100vh;">
    <div class="align-self-center card p-5">
        <div class="mb-2">
            <h2>Modificar contraseña</h2>
            <i>(Se cambiara la contraseña de su cuenta.)</i>
        </div>
    
         <div class="mt-3" style="max-width:400px;">
             <form [formGroup]="myForm">
                 <label>Contraseña Actual</label>
                 <div class="form-group">
                    <input formControlName="oldClave" type="text" class="form-control" placeholder="Escribir la contraseña mas reciente.">
                    <div *ngIf="oldClave.invalid && (oldClave.dirty || oldClave.touched)"> 
                        <span class="text-danger">*La contraseña es requerida*</span>
                    </div>
                </div>
                 <div formGroupName="passwords">
                    <label>Nueva contraseña</label>
                    <div class="form-group">
                        <input formControlName="newClave" type="password" class="form-control" placeholder="Su nueva contraseña.">
                        <div *ngIf="newClave.invalid && (newClave.dirty || newClave.touched)"> 
                            <span class="text-danger">*La nueva contraseña es requerida*</span>
                        </div>
                    </div>
                    <label>Confirmar</label>
                    <div class="form-group">
                        <input formControlName="confirmClave" type="password" class="form-control" placeholder="Confirmar nueva contraseña.">
                        <div *ngIf="confirmClave.invalid && (confirmClave.dirty || confirmClave.touched)"> 
                            <span class="text-danger">*Confirmar contraseña es requerida*</span>
                        </div>
                    </div>
                 </div>     
                 <div class="form-group">
                    <span class="text-danger" *ngIf="passwordValid()">*Las contraseñas no son iguales*</span>
                 </div>       
                 <div class="form-group">
                     <button (click)="updatePassword()" class="btn btn-primario">Guardar cambios</button>
                 </div>
             </form>
         </div>
    </div>
</div>
