<div class="d-none d-md-block">
    <router-outlet></router-outlet>
</div>
<div class="container-fluid d-block d-md-none bg-primario-dark" style="height: 100vh;">
    <div class="d-flex justify-content-center  h-100">
        <div class="align-self-center text-secundario">
              <h2>DESCARGA LA APP</h2>
             <i>Disponilble para android  & IOS</i>

              <div class="d-flex mt-4 flex-column flex-sm-row">
                <div >
                    <img src="/assets/img/app-store-btn.png" alt="App store" width="220" class="my-2 mx-sm-1">
                </div>
                <div>
                   <img src="/assets/img/google-play-store-btn.png" alt="Google play store" width="230" class="my-2 mx-sm-1">
               </div>
              </div>
        </div>
</div>
</div>