
<div class="container">
    <div class="w-75 mx-auto px-4 mt-5" style="max-width: 450px;">
        <div class="formulario">
            <form>
                <fieldset id="box1">
                     <h2 class="mb-4">Datos del paciente</h2>
                     <i>(Informacion personal)</i> <br>

                     <label>Nombre: </label>
                    <div class="form-group mr-2">
                        <input type="text" placeholder="Nombre del paciente" class="form-control">
                    </div>
                    <label>Apellido: </label>
                    <div class="form-group">
                        <input type="text" placeholder="Apellido del paciente" class="form-control">
                    </div>
                    <label>Fecha de nacimiento: </label>
                    <div class="form-group">
                        <input type="date" class="form-control">
                    </div>
                    <div class="radio-group mt-2">
                        <div class="row">
                            <legend class="col-form-label col-sm-2 pt-0">Sexo</legend>
                            <div class="col-sm-10">
                              <div class="form-check">
                                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
                                <label class="form-check-label" for="gridRadios1">
                                  Hombre
                                </label>
                              </div>
                              <div class="form-check">
                                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                                <label class="form-check-label" for="gridRadios2">
                                  Mujer
                                </label>
                              </div>
                            </div>
                          </div>
                    </div>
                     <div class="form-group mt-3">
                        <button class="btn btn-primario w-75 ml-2 mt-3" (click)="NextBox()">Siguiente</button>
                    </div> 
                </fieldset>
                <fieldset id="box2" class="d-none">
                     <h3>Datos del paciente</h3>
                     <i>(Datos de autenticidad)</i>
                    <div>
                        <div class="mt-3">
                            <div class="form-group">
                                <span>Correo: </span>
                                <input type="email" placeholder="paciente@ejemplo.com" class="form-control">
                            </div>
                            <div class="form-group">
                                <span>Cedula: </span>
                                <input type="number" placeholder="Cedula o ID" class="form-control">
                            </div>
                        </div> 

                        <i>(Datos de salud)</i>
                        <div class="mt-3">
                            <label>Tipo de sangre</label>
                            <div class="form-group">
                                <select class="form-control">
                                    <option value="A+">A positivo (A+)</option>
                                    <option value="A-">A negativo (A-)</option>
                                    <option value="B+">B positivo (B+)</option>
                                    <option value="B-">B negativo (B-)</option>
                                    <option value="0+">0 positivo (0+)</option>
                                    <option value="0-">0 negativo (0-)</option>
                                    <option value="AB+">AB positivo (AB+)</option>
                                    <option value="AB-">AB negativo (AB-)</option>
                                </select>
                            </div>
                            <label>Alergias</label>
                            <div class="form-group">
                                <ng-template [ngIf]="showSelectAlergia" [ngIfElse]="showBoxOtrosAlergias">
                                    <select class="form-control" (change)="CambiarBox($event)">
                                        <option value="">Alergia a los ácaros</option>
                                        <option value="">Alergia al polen.</option>
                                        <option value="">Alergia al pelo de animales</option>
                                        <option value="">Alergia a las picaduras de insectos</option>
                                        <option value="">Alergia al moho</option>
                                        <option>Otros</option>
                                    </select>
                                </ng-template>
                                <ng-template #showBoxOtrosAlergias>
                                    <input type="text" placeholder="Escribir el nombre de la alergia" class="form-control">
                                </ng-template>
                            </div>
                        </div>
                        <div class="mt-4">
                            <button class="btn btn-dark mt-3" (click)="PreviusBox()">Ir atras</button>
                            <button class="btn btn-primario ml-2 mt-3" (click)="NextBox()">Siguiente</button>
                        </div>
                    </div>
                </fieldset>
                <fieldset id="box4" class="d-none">
                     <h3>Finalizar el registro</h3>
                     <div class="d-flex fixed-size">
                           <!-- Extrar los datos del formGroup y crear un Preview del paciente 
                            para confimar que los datos son correctos.-->
                     </div>
                </fieldset>
            </form>
        </div>
    </div>

     <!--Cargar la imagen al local storage como base 64-->
        <div class="load-img-container d-none shadow-lg" id="box3">
            <div class="d-flex justify-content-center w-100" style="height: 500px;">
                <div class="upload-img align-self-center p-4">
                    <i class="fas fa-upload"></i>
                   <div class="button-wrap mt-3">
                       <label class="button" for="upload">Subir una foto</label>
                       <input id="upload" type="file" (change)="saveFoto($event)">
                     </div>
                </div>
            </div>
        </div>
</div>
