 

.upload-img i{
    font-size: 80px;
    color: #e9e9e9;
    margin-left: 34px;
}

 
.upload-img input[type="file"] {
    position: absolute;
    z-index: -1;
    top: 10px;
    left: 8px;
    font-size: 17px;
    color: #b8b8b8;
  }

  .button-wrap {
    position: relative;
  }

  .button {
    display: inline-block;
    padding: 12px 19px;
    cursor: pointer;
    border-radius: 5px;
    background-color: #a1da4d;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
  }

  .icon-ir-atras{
    font-size: 30px;
    color: #b8b8b8;
    padding: 15px;
  }