<ng-template [ngIf]="listaVicitasFiltrada" [ngIfElse]="loading">
    <div class="mt-5">
        <h3>Litado de citas</h3>
            <div class="mt-3">
               <div class="d-flex justify-content-end" style="max-width: 800px;">
                    <div>
                        <form [formGroup]="fechaGroup" (ngSubmit)="FetchVicitasPorFecha(fechaGroup.value)">
                            <div class="form-group">
                                <label>Fecha: </label>
                                <input type="date" class="ml-2 p-1" formControlName="fecha">
                                <button type="submit" class="btn btn-primario text-center text-white ml-2 mb-1">Buscar</button>
                            </div>
                        </form>
                   </div>
               </div>
            </div>
        <div class="table-responsive w-100  border rounded-lg" style="max-width: 800px;">
           <div class="d-flex justify-content-between px-4 ">
            <div class="m-2">
                 <span class="ml-5">CITAS</span>
            </div>
            <div class="m-2">
                
            </div>
           </div>
            <div class="table-responsive w-100 " style="max-width: 800px;">
                <table class="w-100 table-hover">
                    <tbody *ngFor="let cita of listaVicitasFiltrada">
                        <tr class="border-top">
                            <div>
                                <div class="list-container py-2">
                                    <div class="center-center">
                                        
                                    </div>
                                    <div>
                                        <div class="d-flex">
                                        <div class="avatar">
                                            <i class="fas fa-star"></i>
                                        </div>
                                        <div class="center-center ml-3">
                                           <a [routerLink]="['/cuenta/cita-detalles', cita.id ]">{{cita.motivo}}</a>
                                        </div>
                                        </div>
                                    </div>
                                    <div class="center-center text-gris">
                                        <h6>{{cita.monto}}</h6>
                                    </div>
                                    <div class="center-center ">
                                        <h6 class="h7">{{cita.no_seguro}}</h6>
                                    </div>
                                    <div class="center-center ">
                                       
                                    </div>
                                </div>                    
                            </div>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>         
</ng-template>
<ng-template #loading>
    <div class="container">
        <div class="d-flex justify-content-center fixed-size">
            <div class="align-self-center text-center">
                <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status"></div>
                <div>
                    <span>Cargando...</span>
                </div>
           </div>
        </div>
</div>
</ng-template>