.circular-foto{
    border-radius: 50%;
}

.avatar {
    width: 180px;
    height: 180px;
    background-color: #fcfcfc;
}

.avatar:hover{
    cursor: pointer;
}

.camara {
    font-size: 50px;
    color: #eeeeee;
}

.add-foto{
    font-size: 40px;
     bottom: 10px;
     right: 0; 
     color: #1be925; 
}

.formulario{
    max-width: 300px;
    margin: auto;
}

label {
    font-size: 14px;
}