.container-box{
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    max-height:100vh ;
}


/* --Estilos del menu ---*/


.menu-container{
    background-color: var(--color-primario-dark);
    color: var(--color-secundario);
    height: 100%;
    width: 220px;
}

.menu-box{
    text-align: left;

}

.menu-open, .menu-close{
    padding: 6px;
    font-size: 22px;
}

.menu-open i:hover, .menu-close:hover i {
    cursor: pointer;
    transition: 0.3s;
}

.avatar{
    border-radius: 5px;
}

.mainmenu {
    list-style: none;
}

.mainmenu li {
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 14px;
}

.mainmenu li:hover{
    cursor: pointer;
}

.mainmenu li a {
    font-size: 12px;
    color: var(--color-secundario);
}

.mainmenu li:hover .submenu{
    display: block;
    max-height: 200px;
}


.submenu{
    overflow: hidden;
    max-height: 0;
    -webkit-transition: all 0.5s ease-out;
}

.circulo-status{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 4px;
}

.hoy{ background-color: rgb(77, 202, 19);}
.ayer{ background-color: rgb(24, 88, 224);}
.consultas {background-color: rgb(217, 250, 28);}
.pacientes {background-color: rgb(255, 40, 40);}


.menu-footer ul {
    list-style: none;
}

.menu-footer ul li{
    font-size: 12px;
    margin-top: 4px;
}


.actividades-recientes{
    background-color: #fdfeff;
}

.btn-busqueda{
   background-color: var(--color-primario);
}
 