 <div class="container-fluid p-0 m-0 border">
    <div class="d-flex flex-column flex-md-row  container-box">
        <section class="menu-container animate__animated d-none border" id="menu-container">
                <div class="menu-close px-4 mt-3">
                    <i class="fas fa-stream" (click)="CloseMenu()"></i>
                </div>
               <div class="menu-box">
                <div class="avatar-perfil text-center p-3 mt-4">
                    <div class="d-flex flex-row">
                        <img src="/assets/img/doctor_avatar.png" width="30" height="30" alt="Avatar" class="avatar">
                        <p class="ml-2">Karina Beltre</p>
                    </div>
                </div>
                <div class="menu-main mt-4">
                    <ul class="p-3">
                        <li>
                            <i class="fas fa-hospital-user mr-1"></i>
                            Pacientes
                            <ul class="pacientes-options">
                                <li><a href="#">Ver listado</a></li>
                                <li><a href="#">Nuevo paciente</a></li>
                            </ul>
                        </li>
                        <li>
                            <i class="fas fa-calendar-check  mr-1"></i>
                            Gestionar citas
                            <ul class="cita-options">
                                <li><a href="#">Ver citas</a></li>
                                <li><a href="#">Nueva cita</a></li>
                            </ul>
                        </li>
                        <li>
                            <i class="fas fa-bell  mr-1"></i>
                            Notificaciones</li>
                        <li>
                            <i class="fas fa-cogs  mr-1"></i>
                            Configuracion</li>
                    </ul>
                </div>
                <div class="menu-footer p-3">
                    <p class="text-uppercase">Estado</p>
                     <ul class="p-2">
                         <li><div class="circulo-status hoy"></div>Hoy: 10</li>
                         <li><div class="circulo-status ayer"></div>Ayer: 10</li>
                         <li><div class="circulo-status pacientes"></div>Pacientes: 10</li>
                         <li><div class="circulo-status consultas"></div>consultas: 10</li>
                     </ul>
                </div>
               </div>
        </section>
        <section class="flex-md-grow-1 main-content px-3">    
            <div class="menu-open px-4 mt-2" id="close-menu-icon">
                <i class="fas fa-stream" (click)="OpenMenu()"></i>
            </div>        
        </section>
        <section class="d-none d-lg-block actividades-recientes border-left p-4">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="button-addon2">
                <div class="input-group-append">
                  <button class="btn btn-secondary mr-2" type="button" id="button-addon2" style="background-color: var(--color-primario-dark);"><i class="fas fa-search"></i></button>
                 </div>
            </div>  

            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" value="" id="inlineCheckbox1">
                <label class="form-check-label" for="inlineCheckbox1">
                  Signo Zodiacal
                </label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" value="" id="inlineCheckbox1">
                <label class="form-check-label" for="inlineCheckbox1">
                  Visitas por fecha
                </label>    
              </div>
        </section>  
    </div>
</div>