 <div class="containert-fluid p-0 m-0">
    <div class="d-flex flex-row  container-box">
        <section class="menu-container d-none d-md-block" id="menu-container">
                <div class="menu-close px-4 mt-3">
                    <i class="fas fa-stream"></i>
                </div>
               <div class="menu-box">
                <div class="avatar-perfil text-center p-3 mt-4">
                    <div class="d-flex flex-row">
                        <img src="/assets/img/doctor_avatar.png" width="30" height="30" alt="Avatar" class="avatar">
                        <p class="ml-2">Karina Beltre</p>
                    </div>
                </div>
                <div class="menu-main mt-4">
                    <ul class="p-3 mainmenu">
                        <li>
                            <i class="fas fa-hospital-user mr-1"></i>
                            Pacientes
                            <ul class="submenu">
                                <li><a href="#">Ver listado</a></li>
                                <li><a href="#">Nuevo paciente</a></li>
                            </ul>
                        </li>
                        <li>
                            <i class="fas fa-calendar-check  mr-1"></i>
                            Gestionar citas
                            <ul class="submenu">
                                <li><a href="#">Ver citas</a></li>
                                <li><a href="#">Nueva cita</a></li>
                            </ul>
                        </li>
                        <li>
                            <i class="fas fa-bell  mr-1"></i>
                            Notificaciones</li>
                        <li>
                            <i class="fas fa-cogs  mr-1"></i>
                            Configuracion</li>
                    </ul>
                </div>
                <div class="menu-footer px-3">
                    <p class="text-uppercase" style="font-size: 14px;">Estado</p>
                     <ul class="px-1">
                         <li><div class="circulo-status hoy"></div>Hoy: 10</li>
                         <li><div class="circulo-status ayer"></div>Ayer: 10</li>
                         <li><div class="circulo-status pacientes"></div>Pacientes: 10</li>
                         <li><div class="circulo-status consultas"></div>consultas: 10</li>
                     </ul>
                </div>
               </div>
        </section>
        <section class="flex-md-grow-1 main-content px-md-5 mt-5">    
            <div>
                    <h3>Listado de pacientes</h3>
                        <div class="mt-3">
                           <div class="d-flex justify-content-between" style="max-width: 800px;">
                                <div class="mt-1">
                                    <span>Filtrado por: </span>
                                    <select name="zodiaco"  class="p-1" style="width: 130px;">
                                        <option value="Zodiaco">Zodiaco</option>
                                        <option value="Citas">Visitas</option>
                                    </select>
                                </div>
                                <div>
                                    <form class="">
                                        <div class="form-group">
                                            <label>Fecha: </label>
                                            <input type="date" class="ml-2 p-1">
                                            <button class="btn btn-primario text-center text-white ml-2 mb-1">Buscar</button>
                                        </div>
                                    </form>
                               </div>
                           </div>
                        </div>
                    <div class="table-responsive w-100  border rounded-lg" style="max-width: 800px;">
                       <div class="d-flex justify-content-between px-4 ">
                        <div class="m-2">
                            <input type="checkbox" class="mr-3"> 
                             <span>PACIENTES</span>
                        </div>
                        <div class="m-2">
                            <i class="far fa-trash-alt"></i>
                        </div>
                       </div>
                        <div>
                            <router-outlet></router-outlet>
                        </div>
                 </div>
            </div>     
        </section>
    </div>
</div>